.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .transaction-menu {
        display: flex;
        margin: 5rem;
        width: calc(100% - 10rem);
        gap: 1.5rem;

        &-info {
            flex-grow: 1;
            margin: 2rem 0;
        }
    }

    .button {
        min-width: 300px;
    }
}